<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>EcommerceProInternet</title>
    
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>     
        <div class="header-container">
        <h1 class="page-title">Ecommerce</h1>
            <nav class="main-nav">
                <ul>
                    <li><a href="/iniciar-sesion">Iniciar Sesión</a></li>
                    <li><a href="/crear-sesion">Crear Cuenta</a></li>
                    <li><a href="/cerrar-sesion">Cerrar Sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="product-list">
        <article class="product">
            <div class="product-img">
                <img src="/imgs/computer.jpg" alt="Computadora en venta">
            </div>
            <div class="product-details">
                <h2>Computadora en venta</h2>
                <p>Potente computadora lista para el trabajo y el entretenimiento.</p>
                <span class="price">$25,000</span>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </article>
         <article class="product">
            <div class="product-img">
                <img src="/imgs/cell.jpg" alt="Telefono en venta">
            </div>
            <div class="product-details">
                <h2>Telefono en venta</h2>
                <p>Buen celular a la venta.</p>
                <span class="price">$30,000</span>
                <button class="add-to-cart">Agregar al Carrito</button>
            </div>
        </article>
        <!-- Repite para más productos -->

    </section>

    <footer>
        <div class="footer-container">
            <div class="contact">
                <h3>Contacto</h3>
                <p>Si tienes alguna pregunta, ¡no dudes en contactarnos!</p>
                <a href="mailto:contacto@ecommerceprointernet.com">contacto@ecommerceprointernet.com</a>
            </div>
            <div class="social-media">
                <h3>Síguenos</h3>
                <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="con">
          <p>Queremos conocer tu opinion: </p>
          <a href="/enviar-opinion">Click aquí para enviarnos tu opinión</a>
          </div>
        </div>
    </footer>

    <script src="/assets/escucharBtn.js"></script>
</body>
</html>
